{% extends "base.html" %}

{% block app_content %}
    <h1>Sessions attended by {{ current_user.name }} {{ current_user.surname }}</h1>
    <table class="table table-striped">
    <tr>
        <form action="" method="POST">
        <th><select name="courses">
    {% for course in courses_choices %}
        <option value="{{ course }}">{{ course }}</option>
    {% endfor %}
            </select></th>
    <th>
        <input class="btn btn-default" type="submit" name="action" value="Search by course">
        </th></form>
    </tr>
    </table>
    <table class="table table-striped">
        <caption><b>Sessions</b></caption>
        <tr>
            <th>Course</th>
            <th>Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Finished</th>
        </tr>
        {% for attendance_row in attendance_list %}
            {% if attendance_row.is_closed %}
                <tr class="success">
                    {% else %}
                <tr>
            {% endif %}
        <td>{{ attendance_row.course.name }}</td>
        <td>{{ attendance_row.type.name }}</td>
        <td>{{ attendance_row.date.strftime("%d.%m.%Y") }}</td>
        <td>{{ attendance_row.date.strftime("%H:%M:%S") }}</td>
        <td><b>{{ "Yes" if attendance_row.is_closed else "No" }}</b></td>
        </tr>
        {% endfor %}
    </table>
    <form action="" method="post">
        <input class="btn btn-default" type="submit" name="action" value="Export to xlsx">
    </form>
{% endblock %}
