<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    !--body {
        background: url(chlen.png); }--
    </style>
    <meta charset="UTF-8">
    <title>Checked</title>
</head>
<body>
    <form name="test" method="post" action="input1.php">
  <p align="center" color = "white"><b>Name:</b><br>
   <input align="center" type="text" size="40">
  </p>
        <p align="center"><b>Surname:</b><br>
   <input align="center" type="text" size="40">
  </p>
        <p align="center"><b>BS Group:</b><br>
   <input align="center" type="text" size="40">
  </p>
  <p align="center"><input align="center" type="submit" value="CHECK">
 </form>
</body>
</html>