{% extends "base.html" %}

{% block app_content %}
    {% if user.is_admin %}

    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <caption><b>User information</b></caption>
                <tr>
                    <th>Name</th><td>{{user.name}}</td>
                </tr>
                <tr>
                    <th>Surname</th><td>{{user.surname}}</td>
                </tr>
                <tr>
                    <th>Email</th><td><a href="mailto:///{{user.email}}">{{user.email}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    {% if current_user.is_admin %}
    <div class="row">
        <div class="col-md-12">
          {% include "profile_admin_control.html" %}
        </div>
    </div>
    {% endif %}
{% endblock %}
