{% extends "base.html" %}

{% block content %}
    <h3>Token specific functions (about token {{ token }}) is going to be here</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.group_name.label }}<br>
            {{ form.group_name(size=32) }}
        </p>
        <p align="center">
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p align="center">
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
