{% extends "base.html" %}

{% block app_content %}
    <script>
        function update_token() {
            // $.get("/qrcode_regen");
            window.location.reload(false);
        }
    </script>
    <style>
    section {
        background: white;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
    </style>
    <section>
    <p align = "center"><a href="#" onclick="update_token()"><button>generate</button></a></p>
    <img src="{{ qrcode(key) }}" id="qrcode" width=512 height=512 alt="QRcode">
    </section>
{% endblock %}