{% extends "base.html" %}

{% block app_content %}
    <button id="regen" type="button" class="btn btn-primary center-block">Re-generate QRcode</button>
    <img src="" id="qrcode" class="center-block" width=512 alt="QRcode">
    <h1><span id="qr_label" class="label label-default center-block hidden">QRcode unavailable</span></h1>
{% endblock %}

{% block scripts %}
  {{super()}}
    <script>
        var session_id = 282;
        function update_image() {
            let $qrcode = $("#qrcode");
            let $qr_label = $("#qr_label");
            $.get("/qrcode_image", {"session_id": session_id}, function( data ) {
                if (data.status === "ok") {
                    $qr_label.addClass("hidden");
                    $qrcode.removeClass("hidden");
                    $qrcode.attr("src", data.image);
                } else {
                    $qr_label.removeClass("hidden");
                    $qrcode.addClass("hidden");
                }
            }, "json");
        }
        update_image();
        $("#regen").on("click", function () {
            {#$.get("/qrcode_regen").done(function () {#}
            {#    update_image();#}
            {#\});#}
            update_image();
        })
    </script>
{% endblock %}